flows5.json
[{"id":"e5affbe8.108e08","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"c4ae3753.6b6fd8","type":"http in","z":"e5affbe8.108e08","name":"","url":"/on","method":"get","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["f0c70ba3.9ce838","a5122123.50fd9"]]},{"id":"f0c70ba3.9ce838","type":"function","z":"e5affbe8.108e08","name":"Return Status","func":"msg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["f7744b6.35129b8","fa2332a0.91e0d"]]},{"id":"a5122123.50fd9","type":"function","z":"e5affbe8.108e08","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["cfff8c75.87025"]]},{"id":"f7744b6.35129b8","type":"http response","z":"e5affbe8.108e08","name":"","statusCode":"","headers":{},"x":670,"y":140,"wires":[]},{"id":"fa2332a0.91e0d","type":"debug","z":"e5affbe8.108e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"cfff8c75.87025","type":"rpi-gpio out","z":"e5affbe8.108e08","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":530,"y":320,"wires":[]},{"id":"815bd569.8d86e8","type":"http in","z":"e5affbe8.108e08","name":"","url":"/down","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["239c2edb.4d0532","c05e78c5.7345b8"]]},{"id":"239c2edb.4d0532","type":"function","z":"e5affbe8.108e08","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["cfff8c75.87025"]]},{"id":"c05e78c5.7345b8","type":"function","z":"e5affbe8.108e08","name":"Return Status","func":"msg.payload=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["f7744b6.35129b8","fa2332a0.91e0d"]]}]